<section class="home">
  <img class="img-fluid mx-auto d-block" src="assets/images/banner.png" alt="">
  <h3 class="ms-5">Cars</h3>
  <div *ngFor="let car of cars" class="card ms-5 mt-5" style="width: 18rem;">
      <img [src]="" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-head d-flex justify-content-between">
          <h5 class="card-title">{{ car.title }}</h5>
          <button (click)="addFavorite(car.id)" class="btn p-0 border-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
            </svg>
          </button>
        </div>
        <p class="card-text">klm | {{ car.fuel }} | {{ car.type }}</p>
        <p class="price">{{ car.price }} €</p>
        <a href="#" class="btn btn-primary">En savoir plus <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
        </svg></a>
      </div>
    </div>
</section>