.home {
    h3 {
        font-size: 35px;
        font-weight: bold;
    }

    .card {
        border-radius: 15px;
    }

    h5 {
        font-weight: 600;
        color: #143D59;
    }

    p {
        color: #143D59;
    }

    .price {
        font-weight: bold;
    }

    a {
        border: 1px solid #143D59;
        border-radius: 25px;
        background: #143D59;
    }

    img {
        width: 500px;
    }
}